
<div class="row" style="background-color: rgb(51, 46, 46); height: 60px">
  <div class="col-10">

  </div>
  <div class="col-2" style="padding-top: 20px;padding-bottom: 10px;">
   <a href="login" style="margin-right: 16px;">Login </a>
   
   <a href="register" class="button">Register</a>
    </div>
    
</div>
<!--<div
  class="row"
  style="
    margin: 0px;
    background-color: rgb(84, 171, 211);
    padding: 6px 0px;
    height: 60px;
  "
>
  <div class="col-2" style="height: 50px; padding-top: 5px">
    <h3>RESELLING-HUB</h3>
  </div>
  <div class="col-2" style="padding-bottom: 5px">
    <span class="custom-dropdown small">
      <select name="product type" id="producttype">
        <option value="">-Select State-</option>
        <option value="Furniture">Haryana</option>
        <option value="Electronic">Punjab</option>
        <option value="Books">Delhi</option>
        <option value="Homeessentials">Karnatka</option>
      </select>
    </span>
  </div>
  <div class="col-5" style="float: right; padding-right: 10px">
    <form class="example" action="/action_page.php">
      <input type="text" placeholder="Search.." name="search" />
      <button type="submit">Search</button>
    </form>
  </div>

  
   
  
  <div class="col-2" style="padding-top: 5px;padding-bottom: 10px;">
    <button class="btn btn-dark open-button">Login</button>
    <div class="dropdown" style="padding-left: 50px;">
        <button class="dropbtn btn-sm">Account</button>
        <div class="dropdown-content">
        <a href="#">Profile</a>
        <a href="#">Membership</a>
        <a href="#">Logout</a>
        </div>
      </div>
    
  </div>
</div>-->
<!--Second row
<div
  class="row"
  style="
    margin: 0px;
    background-color: rgb(247, 241, 240);
    height: 50px;
    padding: 20px;
    padding-top: 30px;
  "
>
  <div class="col-6">
    <form action="">
      <p>
        <span class="custom-dropdown big">
          <select name="product type" id="producttype">
            <option value="">--Select State --</option>
            <option value="Furniture">Haryana</option>
            <option value="Electronic">Punjab</option>
            <option value="Books">Delhi</option>
            <option value="Homeessentials">Karnatka</option>
          </select>
        </span>
      </p>
    </form>
  </div>
</div>
<nav class="horizontal">
  <ul>
    <li><a routerLink="/"> Home</a></li>
    <li><a routerLink="">Electronic</a></li>
    <li><a routerLink="">Books</a></li>
    <li><a routerLink="">Musical Instruments</a></li>
    <li><a routerLink="">Vehicle</a></li>
  </ul>
</nav>-->
<nav>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <label class="logo">RESELLING-HUB</label>
  <span class="custom-dropdown small">
    <select name="product type" id="producttype">
      <option value="">-Select State-</option>
      <option value="Furniture">Haryana</option>
      <option value="Electronic">Punjab</option>
      <option value="Books">Delhi</option>
      <option value="Homeessentials">Karnatka</option>
    </select>
  </span>
  <ul>
     <li><a class="active" routerLink="/">Home</a></li>
     <li>
        <a href="#">Electronics
        <i class="fas fa-caret-down"></i>
        </a>
        <ul>
           <li><a routerLink="laptop">Laptops</a></li>
           <li><a routerLink="tv">TV</a></li>
           
        </ul>
     </li>
     <li>
        <a href="#">Books
        <i class="fas fa-caret-down"></i>
        </a>
        <ul>
           <li><a routerLink="novel">Novel</a></li>
           <li><a routerLink="comic">Comics</a></li>
           <li>
              <a routerLink="biography">Biography</a>  
           </li>
        </ul>
     </li>
     <li><a routerLink="mobile">Mobile</a></li>
     <li><a routerLink="furniture">Furniture</a></li>
     <li><a routerLink="music">Music</a></li>
  </ul>
</nav>


