
<div class="foot">
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                
                <li class="list-inline-item"><a routerLink="disclaimer">Disclaimer</a></li>
                <li class="list-inline-item"><a routerLink="aboutus">About us</a></li>
                <li class="list-inline-item"><a routerLink="contactus">Contact us</a></li>
                <li class="list-inline-item"><a routerLink="privacypolicy">Privacy Policy</a></li>
            </ul>
            <p class="copyright">RESELLING-HUB © 2021//</p>
        </footer>
    </div>
   </div>

