<div style="background-color: cyan">
    <div style="background-color: rebeccapurple; width: 100%">
      <div class="container">
        <div
          class="row"
          style="
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: Georgia, 'Times New Roman', Times, serif;
          "
        >
          <div class="col" style="text-align: center">
            <b style="font-size: 40px"> COMIC BOOKS</b><br />
            Comics is a medium used to express ideas with images, often combined
            with text or other visual information. It typically takes the form of
            a sequence of panels of images.
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container" style="padding: 75px">
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: red;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/c1.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">
            Chacha Chaudhary Digest-2 <br />
          </h2>
          <h3 class="card-title" style="text-align: center">
            By Pran <br /><br />
          </h3>
          <h3 class="card-title" style="text-align: center">
            RS. 299<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION - Chacha Chaudhary is a middle class Indian, frail but an
            extremely intelligent old man. . Chacha Chaudhary's attire includes
            his red turban, a wooden stick, a waistcoat with a double inside
            pocket and a pocket watch. His household consists of his wife Bini
            (Chachi), a faithful street dog called Rocket and a giant alien from
            Jupiter named Sabu.
          </li>
          <br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="
              border-radius: 20px;
              shape-margin: 30px;
              background-color: blue;
            "
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: blue;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/c2.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">
            DISNEY-Beauty and the Beast -<span><h4>Lost in a Book</h4></span>
          </h2>
          <h3 class="card-title" style="text-align: center">
            By Jennifer Donnelly <br /><br />
          </h3>
          <h3 class="card-title" style="text-align: center">
            RS. 399<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION -To get lost in a book is simply to find yourself in
            worlds yet discovered. This book offers the hope and reassurance
            you’re looking for.
          </li>
          <br /><br /><br /><br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="border-radius: 20px; shape-margin: 30px; background-color: red"
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: red;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/c3.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">
            Spider-Man Storybook Collection
          </h2>
          <h3 class="card-title" style="text-align: center">
            By Marvel Press Book Group
          </h3>
          <h3 class="card-title" style="text-align: center">
            RS. 999<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION - this storybook collection has been completely redesigned
            with an all new cover, gilded pages, completely new stories, and a
            classic new look with over 275 illustrations.
          </li>
          <br /><br /><br /><br /><br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="
              border-radius: 20px;
              shape-margin: 30px;
              background-color: blue;
            "
            >CONTACT SELLER</a
          >
        </div>
      
  
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: blue;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/c4.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">
            Pokemon Adventures (Red and Blue) Vol. 1
          </h2>
          <h3 class="card-title" style="text-align: center">
            By Kusaka Hidenori
          </h3>
          <br />
          <h3 class="card-title" style="text-align: center">
            RS. 599<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION - All your favorite Pokemon game characters jump out of
            the screen into the pages of this action-packed manga! Red doesn't
            just want to train Pokemon, he wants to be their friend too. Bulbasaur
            and Poliwhirl seem game. But independent Pikachu won't be so easy to
            win over! And watch out for Team Rocket, Red... They only want to be
            your enemy!
          </li>
          <br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="border-radius: 20px; shape-margin: 30px; background-color: red"
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: red;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/c5.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">
            Tinkle- Where Learning Meets Fun
          </h2>
          <h3 class="card-title" style="text-align: center">
            By Amar Chitra Katha
          </h3>
          <h3 class="card-title" style="text-align: center">
            RS. 599<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION -Amar Chitra Katha is an Indian publishing house majorly
            known for its publication of graphic novels and comics about the
            Indian mythology. Several famous books authored and published by them
            include The Mahabharatha and Valmiki's Ramayan.
          </li>
          <br /><br /><br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="
              border-radius: 20px;
              shape-margin: 30px;
              background-color: blue;
            "
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: blue;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/c6.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">Tantri the Mantri</h2>
          <br /><br /><br />
          <h3 class="card-title" style="text-align: center">
            By Thindiath Rajni
          </h3>
          <br /><br />
          <h3 class="card-title" style="text-align: center">
            RS. 499<span style="font-size: medium">/laptop</span>
          </h3>
          <li>
            DESCRIPTION- Tantri the Mantri, is a Tinkle toon and the eponymous
            main character, or anti-hero, of Tantri the MantriHe is one of the
            oldest recurring toons, having debuted in Tinkle Digest #1. Tantri is
            the minister, or mantri, of Hujli, a kingdom under the rule of King
            Hooja.
          </li>
          <br /><br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="border-radius: 20px; shape-margin: 30px; background-color: red"
            >CONTACT SELLER</a
          >
        </div>
      </div>
    </div>
  </div>