<div style="background-color: cyan">
  <div style="background-color: rebeccapurple; width: 100%">
    <div class="container">
      <div
        class="row"
        style="
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
      >
        <div class="col" style="text-align: center">
          <b style="font-size: 40px"> NOVEL BOOKS</b><br />
          A novel is a relatively long work of narrative fiction, typically
          written in prose and published as a book. The present English word for
          a long work of prose fiction derives from the Italian: novella for
          "new", "news", or "short story of something new", itself from the
          Latin: novella, a singular noun use of the neuter plural of novellus,
          diminutive of novus, meaning "new"
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container" style="padding: 75px">
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/1.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Messed Up! But All For Love <br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">
          By Parashar Arvind <br />
        </h3>
        <h3 class="card-title" style="text-align: center">
          RS. 299<span style="font-size: medium">/book</span>
        </h3>
        <li>
          DESCRIPTION - Arvind Parashar is an author and painter hailing from
          Dehradun. He has been a corporate leader in various firms like GE,
          Dell and Genpact. He enjoys road trips and gives motivational lectures
          at various educational institutes.
        </li>
        <br /><br /><br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/2.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Who Says You Can't You Do<br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">By Daniel Chidiac</h3>
        <h3 class="card-title" style="text-align: center">
          RS. 399<span style="font-size: medium">/book</span>
        </h3>
        <li>
          DESCRIPTION -A word-of-mouth phenomenon that's changing lives around
          the world--a journey into your true self and amazing potential. Do you
          want to change your life? Well, who says you can't? A moment came in
          Daniel Chidiac's life when he realized he wasn't living his truth.
        </li>
        <br /><br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/3.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          The Complete Novel of Sherlock Holmes
        </h2>
        <h3 class="card-title" style="text-align: center">By Doyle Conan</h3>
        <h3 class="card-title" style="text-align: center">
          RS. 499<span style="font-size: medium">/book</span>
        </h3>
        <li>
          DESCRIPTION -This book is a compilation of the four famous Sherlock
          Holmes novels known as A Study in Scarlet, The Sign of the Four, The
          Hound of the Baskervilles and The Valley of Fear. Sherlock Holmes has
          been one of the most beloved fictional characters ever created.
        </li>
        <br /><br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/4.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Pokhran - A Novel<br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">By Singh Uday</h3>
        <h3 class="card-title" style="text-align: center">
          RS. 599<span style="font-size: medium">/book</span>
        </h3>
        <li>
          DESCRIPTION - The success of the Smiling Buddha nuclear test marked
          the rise of India as a nuclear power in 1974. But what went unreported
          in the media was the nuclear fallout that had lasting impact on the
          inhabitants of Pokhran, especially Chaitanya.
        </li>
        <br /><br /><br /><br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/5.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          The Great Indian Novel
        </h2>
        <h3 class="card-title" style="text-align: center">By Tharoor Shashi</h3>
        <h3 class="card-title" style="text-align: center">
          RS. 599<span style="font-size: medium">/book</span>
        </h3>
        <li>
          DESCRIPTION -In Shashi Tharoor's satirical masterpiece, the story of
          the Mahabharata is retold as recent Indian history, and renowned
          political personalities begin to resemble characters from the
          Mahabharata-all of whom have a curious and ambiguous relationship with
          Draupadi Mokrasi (D. Mokrasi for short) .
        </li>
        <br /><br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/6.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          My Purple Scented Novel
        </h2>
        <h3 class="card-title" style="text-align: center">By McEwan Ian</h3>
        <h3 class="card-title" style="text-align: center">
          RS. 499<span style="font-size: medium">/laptop</span>
        </h3>
        <li>
          DESCRIPTION- My Purple Scented Novel follows the perfect crime of
          literary betrayal, scrupulously wrought yet unscrupulously executed.
          'You will have heard of my friend the once celebrated novelist Jocelyn
          Tarbet, but I suspect his memory is beginning to fade...You'd never
          heard of me, the once obscure novelist Parker Sparrow, until my name
          was publicly connected with him.
        </li>
        <br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
    </div>
  </div>
</div>
