<div class="container">

    <div class="login-box">
      <form style="padding: 20px; margin-top: 20px; color: #8F8869; border: radius 15px;">
          <div class="first">
          <img src="assets/images/user.png" width="180px" />

        </div>
        <div class="form-group">
          <h1 class="Second">LOGIN </h1>
          <label>User name</label><br>

          <input type="text" class="form-control" placeholder="Enter Username" />
        </div><br>

        <div class=" form-group">

          <label>Password</label><br>

          <input type="password" class="form-control" placeholder="Enter Password" />

        </div><br>
        <div style="padding-left: 100px;">
        <button type="submit" class="btn btn-dark">LOGIN</button>
      </div>
      </form>
    </div>
  </div>

