<div style="background-color: cyan">
  <div style="background-color: rebeccapurple; width: 100%">
    <div class="container">
      <div
        class="row"
        style="
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
      >
        <div class="col" style="text-align: center">
          <b style="font-size: 40px"> Furniture</b><br />
          Furniture refers to movable objects intended to support various human
          activities such as seating (e.g., chairs, stools, and sofas), eating
          (tables), and sleeping (e.g., beds). Furniture is also used to hold
          objects at a convenient height for work (as horizontal surfaces above
          the ground, such as tables and desks), or to store things (e.g.,
          cupboards and shelves)."
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container" style="padding: 75px">
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/Dazel Desk Engineered Wood Study Table.jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Dazel Desk Engineered Wood Study Table
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 700<span style="font-size: medium">/furniture</span>
        </h3>
        <li>
          Specification - Material: Plywood Configuration: Straight Height x
          Width: 73 cm x 89 cm (2 ft 4 in x 2 ft 11 in) Pre Assembled (Ready to
          Use).
        </li>
        <br /><br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/KHODAL ENTERPRIZE MATT BLACK Wood Portable Laptop Table.jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          KHODAL ENTERPRIZE MATT BLACK Wood Portable Laptop Table
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 150<span style="font-size: medium">/furniture</span>
        </h3>
        <li>
          Specification - Primary Material: Wood W x H x D: 59 cm x 28 cm x 39.3
          cm (1 ft 11 in x 11 in x 1 ft 3 in) Foldable.
        </li>
        <br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/Homes Solid Wood 6 Seater Dining Set.jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Homes Solid Wood 6 Seater Dining Set
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 12000<span style="font-size: medium">/furniture</span>
        </h3>
        <li>
          Specification - Table Top Material: Solid Wood Chair Frame: Solid Wood
          Table (W x H x D): 150 cm x 75 cm x 76 cm (4 ft 11 in x 2 ft 5 in x 2
          ft 5 in) Seating Capacity: 6 Seater Delivery Condition: DIY - Basic
          assembly to be done with simple tools by the customer, comes with
          instructions.
        </li>
        <br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/Homes Glass 4 Seater Dining Set.jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Homes Glass 4 Seater Dining Set <br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 7500<span style="font-size: medium">/furniture</span>
        </h3>
        <li>
          Specification - Table Top Material: Glass Chair Frame: Metal Table (W
          x H x D): 1200 mm x 750 mm x 700 mm (3 ft 11 in x 2 ft 5 in x 2 ft 3
          in) Seating Capacity: 4 Seater Delivery Condition: Knock Down -
          Delivered in non-assembled pieces, installation by service partner.
        </li>
        <br /><br /><br /><br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/DUROFLEX Switch Engineered Wood Study Table.jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          DUROFLEX Switch Engineered Wood Study Table
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 4000<span style="font-size: medium">/furniture</span>
        </h3>
        <li>
          Specification - Material: High Density Block Board Configuration:
          L-shaped Height x Width: 92 cm x 80 cm (3 ft x 2 ft 7 in) Storage
          Included Knock Down - Delivered in non-assembled pieces, installation
          by service partner.
        </li>
        <br /><br /><br />
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
    </div>
  </div>
</div>
