<div style="background-color: cyan; width: 100%">
  <div style="background-color: rebeccapurple; width: 100%">
    <div class="container">
      <div
        class="row"
        style="
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
      >
        <div class="col" style="text-align: center">
          <b style="font-size: 40px"> Smartphones</b><br />
          A smartphone is a portable device that combines mobile telephone and
          computing functions into one unit. They are distinguished from feature
          phones by their stronger hardware capabilities and extensive mobile
          operating systems, which facilitate wider software, internet
          (including web browsing over mobile broadband), and multimedia
          functionality (including music, video, cameras, and gaming), alongside
          core phone functions such as voice calls and text messaging."
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container" style="padding: 75px">
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/SAMSUNG Galaxy F62.jpeg"
              alt=""
              width="225px"
              height="400px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          SAMSUNG Galaxy F62
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 12000<span style="font-size: medium">/mobile</span>
        </h3>
        <li>
          Specification - 8 GB RAM | 128 GB ROM | Expandable Upto 1 TB 17.02 cm
          (6.7 inch) Full HD+ Display 64MP + 12MP + 5MP + 5MP | 32MP Front
          Camera 7000 mAh Lithium-ion Battery Exynos 9825 Processor.
        </li>
        <br /><br /><br /><br />
        <li>Brand - Samsung</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
          href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          " 
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/REDMI 9i.jpeg"
              alt=""
              width="225px"
              height="400px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">REDMI 9i</h2>
        <h3 class="card-title" style="text-align: center">
          RS. 3499<span style="font-size: medium">/mobile</span>
        </h3>
        <li>
          Specification - 4 GB RAM | 64 GB ROM | Expandable Upto 512 GB 16.59 cm
          (6.53 inch) HD+ Display 13MP Rear Camera | 5MP Front Camera 5000 mAh
          Lithium Polymer Battery MediaTek Helio G25 Processor.
        </li>
        <br /><br /><br /><br /><br />
        <li>Brand - Xiaomi</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/OPPO A53.jpeg"
              alt=""
              width="225px"
              height="400px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">OPPO A53</h2>
        <h3 class="card-title" style="text-align: center">
          RS. 6000<span style="font-size: medium">/mobile</span>
        </h3>
        <li>
          Specification - 4 GB RAM | 64 GB ROM | Expandable Upto 256 GB 16.51 cm
          (6.5 inch) HD+ Display 13MP + 2MP + 2MP | 16MP Front Camera 5000 mAh
          Lithium-ion Polymer Battery Qualcomm Snapdragon 460 Processor.
        </li>
        <br /><br /><br /><br /><br />
        <li>Brand - Oppo</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/POCO M3.jpeg"
              alt=""
              width="225px"
              height="400px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          POCO M3 <br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 5000<span style="font-size: medium">/mobile</span>
        </h3>
        <li>
          Specification - 6 GB RAM | 64 GB ROM | Expandable Upto 512 GB 16.59 cm
          (6.53 inch) Full HD+ Display 48MP + 2MP + 2MP | 8MP Front Camera 6000
          mAh Lithium-ion Polymer Battery Qualcomm Snapdragon 662 Processor.
        </li>
        <br /><br /><br /><br /><br />
        <li>Brand - Xiaomi</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/Realme C21.jpeg"
              alt=""
              width="225px"
              height="400px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">Realme C21</h2>
        <h3 class="card-title" style="text-align: center">
          RS. 4000<span style="font-size: medium">/mobile</span>
        </h3>
        <li>
          Specification - 4 GB RAM | 64 GB ROM | Expandable Upto 256 GB 16.51 cm
          (6.5 inch) HD+ Display 13MP + 2MP + 2MP | 5MP Front Camera 5000 mAh
          Battery MediaTek Helio G35 Processor.
        </li>
        <br /><br /><br /><br /><br /><br /><br />
        <li>Brand - Oppo</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/MOTOROLA G10 Power.jpeg"
              alt=""
              width="225px"
              height="400px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          MOTOROLA G10 Power <br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 4000<span style="font-size: medium">/mobile</span>
        </h3>
        <li>
          Specification - 4 GB RAM | 64 GB ROM 16.54 cm (6.51 inch) HD+ Display
          48MP + 8MP + 2MP + 2MP | 8MP Front Camera 6000 mAh Battery Snapdragon
          460 Processor Stock Android Experience | Think Shield Security.
        </li>
        <br /><br /><br />
        <li>Brand - Motorola</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
    </div>
  </div>
</div>
