<div style="background-color: cyan; width: 100%">
  <div style="background-color: rebeccapurple; width: 100%">
    <div class="container">
      <div
        class="row"
        style="
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
      >
        <div class="col" style="text-align: center">
          <b style="font-size: 40px"> Laptops</b><br />
          A laptop, laptop computer, or notebook computer is a small, portable
          personal computer (PC) with a screen and alphanumeric keyboard. These
          typically have a "clamshell" form factor, typically having the screen
          mounted on the inside of the upper lid and the keyboard on the inside
          of the lower lid, although 2-in-1 PCs with a detachable keyboard are
          often marketed as laptops or as having a "laptop mode."
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container" style="padding: 75px">
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/Lenovo IdeaPad Flex 5.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Lenovo IdeaPad Flex 5
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 10999<span style="font-size: medium">/laptop</span>
        </h3>
        <li>
          Specification - Core i3 11th Gen - (8 GB/512 GB SSD/Windows 10 Home)
          14ITL05 Thin and Light Laptop (14 inch, Graphite Grey, 1.5 kg, With MS
          Office).
        </li>
        <br /><br /><br /><br /><br />
        <li>Brand - Lenovo</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/ASUS TUF Gaming A17.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          ASUS TUF Gaming A17
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 33499<span style="font-size: medium">/laptop</span>
        </h3>
        <li>
          Specification - Ryzen 7 Octa Core 5800H - (16 GB/1 TB SSD/Windows 10
          Home/6 GB Graphics/NVIDIA GeForce RTX 3060/144 Hz) FA766QM-HX059TS
          Gaming Laptop (17.3 Inch, Eclipse Gray, 2.6 KG, With MS Office).
        </li>
        <br /><BR /><BR />
        <li>Brand - Asus</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/DELL Inspiron 3501.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          DELL Inspiron 3501
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 22899<span style="font-size: medium">/laptop</span>
        </h3>
        <li>
          Specification - Core i5 11th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows
          10 Home) Inspiron 3501 Laptop (15.6 inch, Black, 1.83 kg, With MS
          Office).
        </li>
        <BR /><BR /><BR /><BR /><br />
        <li>Brand - Dell</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/HP Core i3.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          HP Core i3 <br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 15999<span style="font-size: medium">/laptop</span>
        </h3>
        <li>
          Specification - i3 11th Gen - (8 GB/256 GB SSD/Windows 10 Home)
          15s-FQ2075TU Thin and Light Laptop (15.6 inch, Jet Black, 1.69 Kg,
          With MS Office).
        </li>
        <br /><br /><br />
        <li>Brand - HP</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/DELL Inspiron 3505.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          DELL Inspiron 3505
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 25499<span style="font-size: medium">/laptop</span>
        </h3>
        <li>
          Specification - Ryzen 3 Dual Core 3250U - (8 GB/256 GB SSD/Windows 10
          Home) Inspiron 3505 Laptop (15.6 inch, Black, 1.83 kg, With MS
          Office).
        </li>
        <br /><br /><br />
        <li>Brand - Dell</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/HP 14s.jpeg"
              alt=""
              width="225px"
              height="175px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          HP 14s <br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 12899<span style="font-size: medium">/laptop</span>
        </h3>
        <li>
          Specification - Core i3 11th Gen - (8 GB/256 GB SSD/Windows 10 Home)
          14s- DY2501TU Thin and Light Laptop (14 inch, Natural Silver, 1.46 kg,
          With MS Office).
        </li>
        <br /><br /><br />
        <li>Brand - HP</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
    </div>
  </div>
</div>
