<div style="background-color: rgb(222, 222, 241)">
    <div class="container">
      <div class="row">
        <div class="col-12" style="padding: 40px; padding-left: 27px">
          <div class="card">
            <img style="border-style: double;" src="assets/images/ss2.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div style="background-color: rgb(222, 222, 241);">
  <div>
    <h1>BOOKS</h1>
    <div class="container" style="padding: 60px">
      <div class="row">
        <!--Fisrt-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/cn.jpg"
                  alt="img"
                  width="120px"
                  height="100px"
                />
              </div>
              <h2>Chanakya Neeti</h2>
              <h3>Price : $500</h3>
              <h3>Condition : New</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
        <!--second-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/kao.jpg"
                  alt="img"
                  width="220px"
                  height="00px"
                />
              </div>
              <h2>Kafan</h2>
              <h3>Price : $390</h3>
              <h3>Condition : Good</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
  
        <!--Third-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/apj.jpg"
                  alt="img "
                  width="120px"
                  height="100px"
                />
              </div>
              <h2>A.P.J Abdul kalam a life</h2>
              <h3>Price : $250</h3>
              <h3>Condition : Good</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <h1>Electronic</h1>
    <div class="container" style="padding: 60px">
      <div class="row">
        <!--Fisrt-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/rf1.jpg"
                  alt="img"
                  width="150px"
                  height="200px"
                />
              </div>
              <h2>LG refrigertor</h2>
              <h3>Price : $55000</h3>
              <h3>Condition : Good</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
        <!--second-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/tv1.jpg"
                  alt="img"
                  width="200px"
                  height="200px"
                />
              </div>
              <h2>Sony TV</h2>
              <h3>Price : $39000</h3>
              <h3>Condition : Good</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
  
        <!--Third-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/hplap.jpg"
                  alt="img "
                  width="220px"
                  height="200px"
                />
              </div>
              <h2>HP laptop</h2>
              <h3>Price : $25000</h3>
              <h3>Condition : new</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container" style="padding: 60px">
      <div class="row">
        <!--Fisrt-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/lgwm.jpg"
                  alt="img"
                  height="180px"
                />
              </div>
              <h2>LG washing machine</h2>
              <h3>Price : $9000</h3>
              <h3>Condition : New</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
        <!--second-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/rf2.jpg"
                  alt="img"
                  height="200px"
                />
              </div>
              <h2>Sony refrigertor</h2>
              <h3>Price : $39000</h3>
              <h3>Condition : Good</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
  
        <!--Third-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/tv2.jpg"
                  alt="img "
                  height="600px"
                />
              </div>
              <h2>Sony tv</h2>
              <h3>Price : $250</h3>
              <h3>Condition : Good</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <h1>Vechiles</h1>
    <div class="container" style="padding: 60px">
      <div class="row">
        <!--Fisrt-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/activa6.jpg"
                  alt="img"
                  width="120px"
                  height="300px"
                />
              </div>
              <h2>Activa 6G</h2>
              <h3>Price : $80000</h3>
              <h3>Condition : New</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
        <!--second-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/duo.jpg"
                  alt="img"
                  height="150px"
                />
              </div>
              <h2>Dio</h2>
              <h3>Price : $39000</h3>
              <h3>Condition : Good</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
  
        <!--Third-->
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="text-align: center">
              <div class="container">
                <img
                  style="max-width: 200px"
                  class="img-fluid"
                  src="assets/images/ev.jpeg"
                  alt="img "
                  width="220px"
                  height="300px"
                />
              </div>
              <h2>EV pure</h2>
              <h3>Price : $250</h3>
              <h3>Condition : Good</h3>
              <h3>Place: Hisar</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="foot">
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                
                <li class="list-inline-item"><a routerLink="disclaimer">Disclaimer</a></li>
                <li class="list-inline-item"><a routerLink="aboutus">About us</a></li>
                <li class="list-inline-item"><a routerLink="contactus">Contact us</a></li>
                <li class="list-inline-item"><a routerLink="privacypolicy">Privacy Policy</a></li>
            </ul>
            <p class="copyright">RESELLING-HUB © 2021//</p>
        </footer>
    </div>
   </div>

