<div style="background-color: rebeccapurple; width: 100%">
    <div class="container">
      <div
        class="row"
        style="
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
      >
        <div class="col" style="text-align: center">
          <b style="font-size: 40px"> BIOGRAPHY BOOKS</b><br />
          Reading a biography not only gives us insights into the real-life
          experiences of great people but also inspires us to go forward in order
          to reach our goal in real. While also a great Biography teaches us about
          the context in which that person lived. That’s why reading a biography
          is important for us to learn various practical lessons too.
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: cyan">
    <div>
      <div class="container" style="padding: 75px; background-color: yellowgreen">
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: red;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/b1.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">Wings of Fire</h2>
          <br /><br />
          <h3 class="card-title" style="text-align: center">By Tiwari Arun</h3>
          <br />
          <h3 class="card-title" style="text-align: center">
            RS. 349<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION - One of the most inspiring and popular autobiographies to
            read is Late Abdul Kalam’s Wings of Fire. In this book, the former
            president shares his personal experiences and minutest details of his
            life. It narrates his life, right from the former late president’s
            rise from humble beginnings to his vision for the country in the year
            2020 .
          </li>
          <br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="
              border-radius: 20px;
              shape-margin: 30px;
              background-color: blue;
            "
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: blue;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/b2.jpeg"
                alt=""
                width="225px"
                height="185px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">ABRAHAM LINCOLN</h2>
          <br /><br />
          <h3 class="card-title" style="text-align: center">By Lord Charnwood</h3>
          <br />
          <h3 class="card-title" style="text-align: center">
            RS. 499<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION -Godfrey Rathbone Benson, Ist Baron Charnwood alias Lord
            Charnwood (6 November 1864 - 3 February 1945) was an British author,
            academic, Liberal politician and philanthropist. Benson was born in
            Alresford, Hampshire, the son of William Benson, a barrister, and
            Elizabeth Soulsby Smith.
          </li>
          <br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="border-radius: 20px; shape-margin: 30px; background-color: red"
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: red;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/b3.jpeg"
                alt=""
                width="225px"
                height="185px"
                padding="10px"
                margin="15px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">Elon Musk - 2015</h2>
          <br /><br />
          <h3 class="card-title" style="text-align: center">By Vance Ashlee</h3>
          <br />
          <h3 class="card-title" style="text-align: center">
            RS. 499<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION - Want to know more about the person behind PayPal,
            SpaceX, Tesla, and SolarCity? This book, Elon Musk: How the
            Billionaire CEO of SpaceX and Tesla is Shaping our Future, is here to
            help you get a proper understanding of the man who can achieve even
            the impossible. From his past to his present and his future as well,
            this book is all you need to delve deep into the mind and workings of
            this brilliant man.
          </li>
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="
              border-radius: 20px;
              shape-margin: 30px;
              background-color: blue;
            "
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: blue;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/b4.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">Mein Kampf</h2>
          <h3 class="card-title" style="text-align: center">By Hitler Adolf</h3>
          <br />
          <h3 class="card-title" style="text-align: center">
            RS. 599<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION - Adolf Hitler is often held responsible for more evil and
            suffering than any man in history. Hitler was unstoppable ... the more
            one delves into Hitler's life, the more complex it appears. Many myths
            shroud his life
          </li>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="border-radius: 20px; shape-margin: 30px; background-color: red"
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: red;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/b5.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">Steve Jobs</h2>
          <h3 class="card-title" style="text-align: center">
            By Isaacson Walter
          </h3>
          <br />
          <h3 class="card-title" style="text-align: center">
            RS. 599<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION -Steve Jobs: The Exclusive Biography is based on more than
            forty interviews that he conducted over two years. These include
            discussions with more than a hundred family members, friends,
            adversaries, competitors, and colleagues. This book is the acclaimed,
            internationally best-selling biography of a business magnate, investor
            and co-founder of Apple Inc.
          </li>
          <br /><br /><br /><br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="
              border-radius: 20px;
              shape-margin: 30px;
              background-color: blue;
            "
            >CONTACT SELLER</a
          >
        </div>
        <div
          class="card"
          style="
            width: 300px;
            float: left;
            margin: 10px;
            padding: 20px;
            background-color: blue;
            color: white;
          "
        >
          <h1 class="card-title" style="text-align: center">
            <b
              ><img
                src="assets/images/b6.jpeg"
                alt=""
                width="225px"
                height="175px"
                padding="10px"
            /></b>
          </h1>
          <h2 class="card-title" style="text-align: center">The Dhoni Touch</h2>
          <h3 class="card-title" style="text-align: center">By S. Bharat</h3>
          <br />
          <h3 class="card-title" style="text-align: center">
            RS. 499<span style="font-size: medium">/book</span>
          </h3>
          <li>
            DESCRIPTION- Be it his signature helicopter shot or his ever-calm
            demeanour, Mahendra Singh Dhoni has always found a way to tap into the
            hearts of his fans. For someone who was training to be a footballer,
            who could have told that Mahi was going to take the world of cricket
            by storm. In The Dhoni Touch: Unravelling the Enigma That Is Mahendra
            Singh Dhoni, Bharat Sundaresan reaches out to some of Mahi’s closest
            friends to find out how he became the man that he is today.
          </li>
          <br /><br />
          <li>CONDITION - GOOD</li>
          <li>PLACE - FARIDABAD</li>
          <br /><br />
  
          <a
          href="https://wa.link/q2hh95" target="blank"
            class="btn btn-primary"
            style="border-radius: 20px; shape-margin: 30px; background-color: red"
            >CONTACT SELLER</a
          >
        </div>
      </div>
    </div>
  </div>