.viewParentDiv {
  padding-top: 4em;
  display: flex;
}
.viewParentDiv .imageShowDiv {
  margin-top: 50px;
  padding: 16px;
  width: 70vw;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  
}
.viewParentDiv .imageShowDiv img {
  height: 400px;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    text-align: center;
  object-fit: cover;
  border-radius: 10px;
}

.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 30vw;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 100%;
}

.viewParentDiv .rightSection .contactDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  
}

.viewParentDiv .rightSection .productDescription {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
}


.viewParentDiv .rightSection .contactDetails .productDescription :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
}

.p-bold{
  font-weight: bolder;
}