<div class="row" style="padding: 20px">
    <div class="col-5">
      <h3 style="color: chocolate">Contact us</h3>
      <h5>We would love to listen from you !</h5>
      <h5><b>Email:</b>support@chocolate.com</h5>
      <h5><b>Support Timeline:</b>Monday to Friday 9AM-6AM</h5>
    </div>
    <div class="col-7">
      <form>
        <h3>
          We are always there to help you. Just fill up the short form below and we will contact you soon:
        </h3>

        <p > <input type="text" name="name" placeholder="Name" required /></p>

        
        <p> <input type="email" name="email" id="email"placeholder="Email" required /></p>
        <p>
          
          <input type="number" name="number" id="number" placeholder="Mobile Number" required />
        </p>
        <p>
          
          <textarea
            name="address"
            id="address"
            cols="100"
            rows="7"
            placeholder="Message"
          ></textarea>
        </p>
        <p>
           <input type="number" name="number" id="number" placeholder="Pincode" required />
        </p>
        <p>
          <button type="button" class="btn btn-danger">Submit</button>
        </p>
        <h5>
          *Note : We will contact you on your mobile number so kindly provide
          your mobile number
        </h5>
      </form>
    </div>
    <div class="col-12" style="text-align: center; padding: 30px;">
      <h3>Directions:</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3483.7435299027243!2d75.72571615077685!3d29.17222908212069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3912333b75d2db1d%3A0xd3d27cd450e433e3!2sGuru%20Jambheshwar%20University%20of%20Science%20and%20Technology!5e0!3m2!1sen!2sin!4v1625198858183!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>

  <div class="foot">
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                
                <li class="list-inline-item"><a routerLink="disclaimer">Disclaimer</a></li>
                <li class="list-inline-item"><a routerLink="aboutus">About us</a></li>
                <li class="list-inline-item"><a routerLink="contactus">Contact us</a></li>
                <li class="list-inline-item"><a routerLink="privacypolicy">Privacy Policy</a></li>
            </ul>
            <p class="copyright">RESELLING-HUB © 2021//</p>
        </footer>
    </div>
   </div>