<div style="background-color: cyan;">

        <div style="background-color:rebeccapurple; width: 100% ;">
            <div class="container"  >
              <div class="row" style="color: white;padding-top: 10px; padding-bottom: 10px; font-family: Georgia, 'Times New Roman', Times, serif; ">
                  <div class="col" style="text-align: center;">
                      
                  <b style="font-size: 40px;" > MUSICAL INSTRUMENTS</b><br>
                  A musical instrument is a device created or adapted to make musical sounds. In principle, any object that produces sound can be considered a musical instrument—it is through purpose that the object becomes a musical instrument. 
                  </div>
              </div>
            </div>
          </div>
          <div >
            <div class="container" style="padding: 75px;">
                <div class="card" style="width: 300px; float: left;margin: 10px; padding: 20px;background-color: red;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image4.jpg" alt="" width="225px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">GUITAR</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 999<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION - if you are a music lover and a fan of acoustic guitars in particular, then this guitar from the house of das musical industry is a must buy. Great rosewood natural quality and impeccable styling are just some of the features. Manufactured by das musical industry, this basic acoustic guitar is highly attractive to look at, courtesy its stylised looks and the brilliant natural rosewood high glossy finish colour.</li>
                        <br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: blue;">CONTACT SELLER</a>
                </div>
                    <div class="card" style="width: 300px; float: left; margin: 10px;padding: 20px;background-color: blue;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image5.jpg" alt="" width="170px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">TRUMPET</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 1499<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION - This trumpet made of brass is placed in a padded box and comes with a mouthpiece together with a pair of gloves. Its beautiful sound and exquisite design would deserve a try from every trumpeter.</li>
                        <br><br><br><br><br><br><br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: red;">CONTACT SELLER</a>
                </div>
                <div class="card" style="width: 300px; float: left;margin: 10px; padding: 20px;background-color: red;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image6.jpg" alt="" width="175px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">VEENA</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 899<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION - The most iconic of all musical instruments is the Saraswati Veena, a beautifully hand crafted specimen of Wooden Veena made out of Eucalyptus wood to adorn your room or an artistic gift for someone.                        </li>
                        <br><br><br><br><br><br><br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: blue;">CONTACT SELLER</a>
                </div>
                <div class="card" style="width: 300px; float: left;margin: 10px; padding: 20px;background-color: blue;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image7.jpg" alt="" width="235px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">TABLA</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 999<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION - 9 inch Heavy Quality Bayan 2 kg . 5 to 5.5 sheesham Wood Dayan (tabla) 4kg . with water proof Bag , Gaddi chumbal set. , Hammer , pvc Gatta. Very good sound quality. This Tabla Do Not purchase Other Seller , Original Quality .</li>
                        <br><br><br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: red;">CONTACT SELLER</a>
                </div>
                    <div class="card" style="width: 300px; float: left; margin: 10px;padding: 20px;background-color: red;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image8.jpg" alt="" width="170px" height="170px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">SAXOPHONE</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 1499<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION - This Saxophone is Domestically manufactured in India on imported keys based pattern. This instrument is suitable for beginners, Intermediate and professionals. The unique feature of this item is that it is coated with gold lacquer polish giving it a Royal look.</li>
                        <br><br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: blue;">CONTACT SELLER</a>
                </div>
                <div class="card" style="width: 300px; float: left;margin: 10px; padding: 20px;background-color: blue;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image9.jpg" alt="" width="175px" height="175px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">HARMONIUM</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 899<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION - Product Dimension (L x B x H): 22 x 12 x 10 Inch. Double fold bellow,two side carry handles, jaali frame on keys , finish lacquer, bass+male two reeds.Easy For Carry,Made In INDIA,Tuning 440 Standard Pitch</li>
                        <br><br><br><br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: red;">CONTACT SELLER</a>
                </div>   
                <div class="card" style="width: 300px; float: left;margin: 10px; padding: 20px;background-color: red;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image10.jpg" alt="" width="225px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">VIOLIN</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 999<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION - The product comes in a very proper packaging. This product will be an excellent pick for you. </li>
                        <br><br><br><br><br><br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: blue;">CONTACT SELLER</a>
                </div>
                    <div class="card" style="width: 300px; float: left; margin: 10px;padding: 20px;background-color: blue;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image11.jpg" alt="" height="225px" width="170px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">BASS GUITAR</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 1499<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION -  This Bass guitar caters to the demands of a whole range of musical genres thanks to its full tonal range. It comes with a slim, lightweight profile and is, therefore, a fitting choice for not only beginners but also intermediate and seasoned players.</li>
                        <br><br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: red;">CONTACT SELLER</a>
                </div>
                <div class="card" style="width: 300px; float: left;margin: 10px; padding: 20px;background-color: red;color: white;">
                    
                    <h1 class="card-title" style="text-align: center;"><b><img src="assets/images/image12.jpg" alt="" width="175px" height="225px" padding="10px" ></b></h1>
                    <h2 class="card-title" style="text-align: center;">CLARINET</h2>
                    <h3 class="card-title" style="text-align: center;">RS. 899<span style="font-size: medium;">/instrument</span></h3>
                        <li>DESCRIPTION -This is a B-Flat Clarinet suitable for Professionals and Practitioners. It is made up of Ebonite and its keys are manufactured with brass coated with Nickle it holds shining for a long period of time. It is a well tuned item verified by professionals. </li>
                        <br><br><br>
                        <li>CONDITION - GOOD</li>
                        <li>PLACE - FARIDABAD</li>
                        <br/><br/>
                    
                    <a href="https://wa.link/q2hh95" target="blank" class="btn btn-primary" style="border-radius: 20px; shape-margin: 30px;background-color: blue;">CONTACT SELLER</a>
                </div>            
            </div>
        </div>
  </div>