
    <div>
        <div class="login-box">
            <h1 style="font-size: xx-large; padding: 10px;">SIGN UP HERE </h1>
            <hr>
            <form action="" class="loginform">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Username">
                <input type="email" name="email" id="email" placeholder="E-mail">
                <input type="text" placeholder="City">
                <input type="password" placeholder="Password">
                <input type="password" placeholder=" Re-enter your password">
                <input type="submit" style=" margin-left: 90px;
                background-color: green;
                color: honeydew;
                width: 600px;
                text-align: center;" value="Login" class="btn">
            </form>
        </div>
    </div>     
         