<div style="background-color: cyan">
  <div style="background-color: rebeccapurple; width: 100%">
    <div class="container">
      <div
        class="row"
        style="
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
      >
        <div class="col" style="text-align: center">
          <b style="font-size: 40px"> TV</b><br />
          Television, sometimes shortened to TV or telly, is a telecommunication
          medium used for transmitting moving images in monochrome (black and
          white), or in color, and in two or three dimensions and sound. The
          term can refer to a television set, a television show, or the medium
          of television transmission. Television is a mass medium for
          advertising, entertainment, news, and sports."
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container" style="padding: 75px">
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/SAMSUNG 80 cm (32 inch).jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          SAMSUNG 80 cm (32 inch)
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 7000<span style="font-size: medium">/tv</span>
        </h3>
        <li>
          Specification - Supported Apps: Netflix|Disney+Hotstar|Youtube
          Operating System: Tizen Resolution: HD Ready 1366 x 768 Pixels Sound
          Output: 20 W Refresh Rate: 60 Hz.
        </li>
        <br /><br /><br /><br />
        <li>Brand - Samsung</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/Mi 4A PRO 80 cm (32 inch).jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Mi 4A PRO 80 cm (32 inch)
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 6500<span style="font-size: medium">/tv</span>
        </h3>
        <li>
          Specification - Supported Apps: Netflix|Prime
          Video|Disney+Hotstar|Youtube Operating System: Android (Google
          Assistant & Chromecast in-built) Resolution: HD Ready 1366 x 768
          Pixels Sound Output: 20 W Refresh Rate: 60 Hz.
        </li>
        <br />
        <li>Brand - Xiaomi</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/Realme 80 cm (32 inch).jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          Realme 80 cm (32 inch)
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 6500<span style="font-size: medium">/tv</span>
        </h3>
        <li>
          Specification - Supported Apps: Netflix|Prime
          Video|Disney+Hotstar|Youtube Operating System: Android (Google
          Assistant & Chromecast in-built) Resolution: HD Ready 1366 x 768
          Pixels Sound Output: 24 W Refresh Rate: 60 Hz.
        </li>
        <BR />
        <li>Brand - Oppo</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: blue;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/LG 80 cm (32 inch).jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          LG 80 cm (32 inch) <br /><br />
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 10000<span style="font-size: medium">/tv</span>
        </h3>
        <li>
          Specification - Supported Apps: Netflix|Prime
          Video|Disney+Hotstar|Youtube Operating System: WebOS Resolution: HD
          Ready 1366 x 768 Pixels Sound Output: 10 W Refresh Rate: 50 Hz.
        </li>
        <br /><br /><br /><br /><br />
        <li>Brand - LG</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="border-radius: 20px; shape-margin: 30px; background-color: red"
          >CONTACT SELLER</a
        >
      </div>
      <div
        class="card"
        style="
          width: 300px;
          float: left;
          margin: 10px;
          padding: 20px;
          background-color: red;
          color: white;
        "
      >
        <h1 class="card-title" style="text-align: center">
          <b
            ><img
              src="assets/images/IFFALCON by TCL 100.3 cm (40 inch).jpeg"
              alt=""
              width="250px"
              height="200px"
              padding="10px"
          /></b>
        </h1>
        <h2 class="card-title" style="text-align: center">
          IFFALCON by TCL 100.3 cm (40 inch)
        </h2>
        <h3 class="card-title" style="text-align: center">
          RS. 12000<span style="font-size: medium">/tv</span>
        </h3>
        <li>
          Specification - Supported Apps: Netflix|Disney+Hotstar|Youtube
          Operating System: Android (Google Assistant & Chromecast in-built)
          Resolution: Full HD 1920 x 1080 Pixels Sound Output: 20 W Refresh
          Rate: 60 Hz.
        </li>
        <br /><br /><br /><br /><br />
        <li>Brand - TCL</li>
        <li>CONDITION - GOOD</li>
        <li>PLACE - FARIDABAD</li>
        <br /><br />

        <a
        href="https://wa.link/q2hh95" target="blank"
          class="btn btn-primary"
          style="
            border-radius: 20px;
            shape-margin: 30px;
            background-color: blue;
          "
          >CONTACT SELLER</a
        >
      </div>
    </div>
  </div>
</div>
